// LCARS Active
:root
  --active-color default-color-highlight
  // this allows an alternative :active color for buttons that are 'active'
  --active-highlight-color default-color-highlight

short-time = 11s
medium-time = 3 * short-time
long-time = 5 * medium-time
infrequent = 19 * short-time
// trying to introduce some variablility to the timing, for spontaneity
stall = 2.2s
tardy = 4.33s
late = 6.55s

/* All kinds of possibilities */

@keyframes active-background
  56%
    background-color var(--active-color)

.{prefix}active-bg.{prefix}active-bg // doubled up for more specificity
  animation active-background 4s steps(1) infinite // color/duration not specified
  &.short
    animation-duration short-time
  &.medium
    animation-duration medium-time
  &.long
    animation-duration long-time
  &.infrequent
    animation-duration infrequent
  &.stall
    animation-delay stall
  &.tardy
    animation-delay tardy
  &.late
    animation-delay late
  // all the colors can be active colors
  for c, v in colors
    &.active-color-{c}
      --active-color v
  // remember to handle psuedo-classes    
  &.{prefix}element.button:active
    --active-color var(--active-highlight-color)
  
