// LCARS bar

.{prefix}bar
  position relative
  color black
  height base-height
  width base-width
  margin 0
  display inline-flex
  background-color default-color
  z-index z-index-frame

  &.spacer // spacers create a 'line' between elements and must be exact sized
    margin 0
    padding 0
    background-color transparent
    min-width base-spacing
    max-width @min-width
    min-height @min-width
    max-height @min-width

  &.double-spacer
    background-color transparent
    min-width double-spacing
    max-width @min-width
    min-height @min-width
    max-height @min-width

  &.horizontal
    height bar-height
    min-height bar-height

    &.left-space
      margin-left base-spacing

    &.left-double-space
      margin-left double-spacing

    &.right-space
      margin-right base-spacing

    &.right-double-space
      margin-right double-spacing

  &.start-space
    margin-top base-spacing

  &.end-space
    margin-bottom base-spacing

  &.left-end
    width bar-height
    min-width bar-height
    border-top-left-radius (bar-height/2)
    border-bottom-left-radius (bar-height/2)

    &.decorated
      &:after
        content ''
        display block
        position absolute
        left (base-height / 2)
        width base-spacing
        height 100%
        background-color black

  &.right-end 
    flex-grow 0 // would typically be ":last-child", but don't grow, unless "fill" specified
    width bar-height
    min-width bar-height
    border-top-right-radius (bar-height/2)
    border-bottom-right-radius (bar-height/2)
    &.decorated
      &:after
        content ''
        display block
        position absolute
        right (base-height / 2)
        width base-spacing
        height 100%
        background-color black

  &.fill
    flex 1

  &.bottom
    align-self: flex-end

  .{prefix}title
    display flex
    justify-content center
    align-items center
    scaled-base-spacing = (base-spacing*2/3)
    color white
    background-color black
    text-transform uppercase
    margin-left 5 * scaled-base-spacing // a bit of bar before black background
    padding-left scaled-base-spacing
    padding-right scaled-base-spacing
    font-size 150%

    &.right
      margin-left auto
      margin-right 5 * scaled-base-spacing
