// LCARS Grid System

.{prefix}row
  display flex
  flex-direction row
  
  &.fill
    flex-grow 1
    flex-shrink 0
    flex-basis 0

  &.centered
    justify-content center

  &.full-centered
    justify-content center
    align-items center

  &.right
    justify-content flex-end

  &.right-centered
    justify-content flex-end
    align-items center

  &.right-bottom
    justify-content flex-end
    align-items flex-end

  > :last-child
    margin-right 0

  > *
    margin-right base-spacing

.{prefix}column
  display flex
  flex-direction column
  align-self start
  
  &.fill
    flex-grow 1
    flex-shrink 0
    flex-basis 0

  &.centered
    justify-content center

  &.full-centered
    justify-content center
    align-items center

  &.centered-right
    justify-content center
    align-items flex-end

  &.bottom
    justify-content flex-end

  &.bottom-centered
    justify-content flex-end
    align-items center

  > :last-child
    margin-bottom 0

  > *
    margin-bottom base-spacing
