// LCARS Container

.{prefix}app-container
  position absolute
  left 0
  right 0
  top 0
  bottom 0

  display flex
  flex-direction column
  overflow hidden

  .{prefix}container // a region that holds content, between dividers
    overflow: hidden

  .{prefix}data // a region in the app-container that has information
    padding-left elbow-column-spacing 
    flex-grow 1
    overflow scroll

  &.framed
    margin double-spacing

  &.framed-left
    margin-left double-spacing
  
  &.framed-right
    margin-right double-spacing
  
  &.framed-top
    margin-top double-spacing
  
  &.framed-bottom
    margin-bottom double-spacing

.hidden-scrollbars
  scrollbar-width none
  -ms-overflow-style none
  &::-webkit-scrollbar
    width 0
    background transparent