// LCARS bar

.{prefix}bar
  position relative
  color black
  height base-height
  width base-width
  margin 0
  display inline-flex
  background-color default-color
  z-index z-index-frame

  &:after
    content ''
    display block
    position absolute
    background black

  &.spacer // spacers create a 'line' between elements and must be exact sized
    margin 0
    padding 0
    background-color transparent
    min-width base-spacing
    max-width base-spacing
    min-height base-spacing
    max-height base-spacing

  &.double-spacer
    background-color transparent
    min-width double-spacing
    max-width double-spacing
    min-height double-spacing
    max-height double-spacing

  &.left-space
    margin-left base-spacing

  &.left-double-space
    margin-left double-spacing

  &.right-space
    margin-right base-spacing

  &.right-double-space
    margin-right double-spacing

  &.horizontal
    height bar-height
    min-height bar-height
  
  &.left-end
    width bar-height
    min-width bar-height
    border-top-left-radius (bar-height/2)
    border-bottom-left-radius (bar-height/2)
    &.decorated
      &:after
        left (base-height / 2)
        width base-spacing
        height 100%
        background-color black

  &.right-end 
    flex-grow 0 // would typically be ":last-child", but don't grow, unless "fill" specified
    width bar-height
    min-width bar-height
    border-top-right-radius (bar-height/2)
    border-bottom-right-radius (bar-height/2)
    &.decorated
      &:after
        right (base-height / 2)
        width base-spacing
        height 100%
        background-color black
        background-color black

  &.fill
    flex 1

  &.bottom
    align-self: flex-end

  .{prefix}title
    scaled-base-spacing = (base-spacing*2/3)
    color white
    background-color black
    text-transform uppercase
    margin 0
    margin-left 5 * scaled-base-spacing
    padding-left scaled-base-spacing
    padding-right scaled-base-spacing
    padding-bottom scaled-base-spacing
    font-size 150%
    height 100%

    &.right
      margin-left auto
      margin-right 5 * scaled-base-spacing
