// LCARS Container

.{prefix}app-container
  // background black
  // margin base-spacing
  position absolute
  left 0 // double-spacing
  right 0 // double-spacing
  top 0
  bottom 0

  display flex
  flex-direction column
  align-items stretch

  overflow hidden
  margin base-spacing
  
  #container
    padding-left elbow-column-spacing + base-width
    flex-grow 1
    overflow scroll

  .{prefix}data
    overflow: hidden

.hidden-scrollbars
  scrollbar-width none
  -ms-overflow-style none
  &::-webkit-scrollbar
    width 0
    background transparent